button {
    height: 30px;
    width: 100px;
    margin-right: 20px;

    outline: none;
    border: none;

    font-size: 14px;
    text-transform: uppercase;
    background-color: #FFCD1E;
    font-weight: bold;
    cursor: pointer;

    a {
        color: #000000;
        text-decoration: none;
    }

    &:hover {
        filter: brightness(0.9);
    }
}