.homeWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .dashboardWrapper {
        max-width: 1680px;
        margin: auto;
        padding: 10px 20px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}