.defaultHeader {
    background-color: #202024;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-left: 20px;

        .headerLogo {
            text-decoration: none;
            color: #E1E1E6;
            margin: 10px auto;

            &:hover {
                filter: brightness(0.9);
            }
        }
    }

    .itemWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .headerItem {
            text-decoration: none;
            font-size: large;
            font-weight: bold;
            color: #E1E1E6;
            margin: 0 10px;

            &:hover {
                filter: brightness(0.9);
                border-bottom: 1px solid #E1E1E6;
            }
        }

        .verticalSeparator {
            height: 30px;
            border-left: 2px solid #484848;
            margin: auto 5px;
        }
    }
}