.contentWrapper {
  width: 100%;
  max-width: 900px;
  padding: 10px 20px;
  margin: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;

    * {
      outline: none;
      border: none;
    }

    .label {
      color: #E1E1E6;
      background-color: transparent;
      margin: 5px 10px;
    }

    .radioLabel {
      color: #E1E1E6;
      margin: 5px 20px 5px 10px;
      padding: 5px 8px;
      background-color: #272727;

      .radioButton {
        margin-right: 5px;
        &:checked {
          size: 90px;
        }
      }
    }

    .select {
      background-color: #E1E1E6;
      margin: auto 10px;
      padding: 5px 10px 5px 10px;

      .option {
        background-color: #E1E1E6;
        margin: auto 10px;
        padding: 5px 10px 5px 10px;
      }
    }

    .input {
      background-color: #E1E1E6;
      margin: auto 10px;
      padding: 5px 10px 5px 10px;
    }

    .line {
      background-color: #363433;
      width: 100%;
      height: 1px;
      margin-top: 10px;
    }

    .submitButton {
      height: 30px;
      width: 300px;
      margin: 20px auto;

      outline: none;
      border: none;
      
      font-size: 14px;
      text-transform: uppercase;
      background-color: #FFCD1E;
      font-weight: bold;
      cursor: pointer;
      
      &:hover {
          filter: brightness(0.9);
      }
    }
  }
}